*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  position: relative;
  left: 50px;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container2 {
  position: relative;
  left: 50px;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container3 {
  position: relative;
  left: 50px;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  top: 100px;
  left: 50px;
  height: 350px;
  width: 550px;
  background-color: #fff;
  display: flex;
  margin: 30px 0;
  border: black solid;
}
.container .card .img {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: black;
  --fs-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.container .card:hover .img{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background-color: black;
  filter: drop-shadow(0 0 23px var(--animation-color));
  transform: rotate(45deg);
  transform-box: fill-box;
}
.container .card .imgBx:before{
  content: attr(data-text) ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255,255,255, .05);
  font-weight: 700;
}
.container .card .img img {
  max-width: 100%;
  transition: 0.5s ease-in-out;
}
.container .card:hover .img img {
  max-width: 100px;
  transform: rotate(-45deg);
  transform-box: fill-box;
}
.container .content {
  position: relative;
  left: 90px;
  padding: 20px;
}
.container .content h1 {
  position: relative;
  top: -25px;
  font-size: 50px;
  color: black;
  padding-bottom: 10px;
}
.container .content p {
  width: 400px;
  font-size: 20px;
  padding-bottom: 10px;
}
.container .content button {
  position: relative;
  left: 100px;
  top: 50px;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  color: #DEDEDE;
  cursor: pointer;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.container .content button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, white 50%, rgb(0, 0, 0) 50%, rgb(24, 23, 23) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.7s;
}

.container .content button:hover::before {
  width: 2em;
  height: 2em;
}
.container .content button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.container2 .card {
  position: relative;
  top: 100px;
  left: 50px;
  height: 350px;
  width: 550px;
  background-color: #fff;
  display: flex;
  margin: 30px 0;
  border: black solid;
}
.container2 .card .img {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: black;
  --fs-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.container2 .card:hover .img{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background-color: black;
  filter: drop-shadow(0 0 23px var(--animation-color));
  transform: rotate(45deg);
  transform-box: fill-box;
}
.container2 .card .imgBx:before{
  content: attr(data-text) ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255,255,255, .05);
  font-weight: 700;
}
.container2 .card .img img {
  max-width: 100%;
  transition: 0.5s ease-in-out;
}
.container2 .card:hover .img img {
  max-width: 100px;
  transform: rotate(-45deg);
  transform-box: fill-box;
}
.container2 .content {
  position: relative;
  left: 90px;
  padding: 20px;
}
.container2 .content h1 {
  position: relative;
  top: -25px;
  font-size: 50px;
  color: black;
  padding-bottom: 10px;
}
.container2 .content p {
  width: 400px;
  font-size: 20px;
  padding-bottom: 10px;
}
.container2 .content button {
  position: relative;
  left: 100px;
  top: 50px;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: black;
  text-decoration: none;
  border: none;
  color: #DEDEDE;
  cursor: pointer;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.container2 .content button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, white 50%, black 50%, rgb(24, 23, 23) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.7s;
}
.container2 .content button:hover::before {
  width: 2em;
  height: 2em;
}
.container2 .content button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.container3 .card {
  position: relative;
  top: 100px;
  left: 50px;
  height: 350px;
  width: 550px;
  background-color: #fff;
  display: flex;
  margin: 30px 0;
  border: black solid;
}
.container3 .card .img {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: black;
  --fs-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.container3 .card:hover .img{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background-color: black;
  filter: drop-shadow(0 0 23px var(--animation-color));
  transform: rotate(45deg);
  transform-box: fill-box;
}
.container3 .card .imgBx:before{
  content: attr(data-text) ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255,255,255, .05);
  font-weight: 700;
}
.container3 .card .img img {
  max-width: 100%;
  transition: 0.5s ease-in-out;
}
.container3 .card:hover .img img {
  max-width: 100px;
  transform: rotate(-45deg);
  transform-box: fill-box;
}
.container3 .content {
  position: relative;
  left: 90px;
  padding: 20px;
}
.container3 .content h1 {
  position: relative;
  top: -25px;
  font-size: 50px;
  color: black;
  padding-bottom: 10px;
}
.container3 .content p {
  width: 400px;
  font-size: 20px;
  padding-bottom: 10px;
}
.container3 .content button {
  position: relative;
  left: 100px;
  top: 50px;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: black;
  text-decoration: none;
  border: none;
  color: #DEDEDE;
  cursor: pointer;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.container3 .content button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, white 50%, black 50%, rgb(24, 23, 23) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.7s;
}
.container3 .content button:hover::before {
  width: 2em;
  height: 2em;
}
.container3 .content button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}