body{
  background-color:black;
}

.header{
  position:fixed;
  z-index:1;
  background-color:rgb(36, 36, 36);
  height: 80px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom:4px solid white;
  
  
}
.img1{
  width: 90px;
  height: 50px;
  margin-top:13px ;
  margin-left: 10px;
  border-right: 2px white solid;
  padding-right: 10px;
}
.header a{
  position: relative;
  text-decoration: none;
  font-family: arial;
  color: white;
  font-size: 20px;
  left: 100px;
  top: -18px;
  margin: 40px;
  
}
.header a:hover{
  color:white;
  border-bottom: 5px white solid;
  border-top:5px white solid ;
  padding-bottom: 26px;
  padding-top: 22px;
  transition: 1s;
}
.icon{
  position: relative;
  width: 30px;
  height: 30px;
  left: 290px;
}
section img{
  position: absolute;
  height: 300px;
  width: 1252px;
  left: 50px;
  right: 50px;
  top:84px ;
}
section{
  background-color: rgba(124, 124, 124, 0.25);
  height: 800px;
  width: 1250px;
  margin-left: 42px;
  margin-top: 100px;
}
.d1{
  position: absolute;
  margin-top:-800px ;
  left:350px;
  color: white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.527);
  max-width: fit-content;
}
.container{
  width: 85vmin;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 100%;
  left: 25%;
  overflow: hidden;
  
}
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
img{
  width: 100%;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }

}
.d2{
  position: absolute;
  margin-top:-490px ;
  left:280px;
  color:white;
  font-size: 30px;
  font-weight:bold;
  max-width: fit-content;
  font-family: helvetica;
}
.d3{
  width: 200px;
  height: 50px;
  border-top:2px white solid ;
  margin-top: -475px;
  margin-left: 45px;
}
.d4{
  width: 210px;
  height: 50px;
  border-top:2px white solid ;
  margin-top: -52px;
  margin-left: 400px;
}
.d5{
  border-right: 1px white solid;
  margin-top: -50px;
  height: 400px;
  width: 100px;
  margin-left: 550px;
}
.title1 h2{
  position: absolute;
  top: 390px;
  color: white;
  margin-left:700px ;
  font-size: 40px;
  font-family: helvetica;
  font-weight: bolder;
}
.title1 h2:hover{
  border-right: white 3px solid;
  padding-right: 50px;
  font-size: 50px;
  transition:1s;
  color:white;
  
  
}
.title1 p{
  position: absolute;
  top: 500px;
  color: white;
  margin-left: 700px;
  font-family: helvetica;
  font-weight: bold;
}
.title1 p:hover{
  color: white;
  font-size: 20px;
  transition: 1s;
  
}
.btn{
  position: absolute;
  top: 620px;
  margin-left: 700px;
  font-family: helvetica;
  font-weight: bold;
  color: black;
  width: 450px;
  height: 55px;
  font-size: 20px;
  background-color: white;
  border-radius: 7px;
  border:2px black solid;
}
.btn:hover{
  background-color:rgb(69, 69, 69);
  transition: 0.3s;
}
.second{
  height: 400px;
  width: 1250px;
  background-color:black;
}
.second h3{
  position:absolute;
  font-size: 35px;
  color: white;
  font-family:helvetica;
  font-weight:50;
  margin-top: 40px;
  
}
.card{
  position: absolute;
  height: 260px;
  width: 240px;
  background-color: black;
  margin-top: 129px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  
}
.card:hover{
  transition: 0.7s ease;
  transform: scale(1.3);
}

.img2{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h5{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  margin-top: 145px;
  margin-left: 60px;
}
.h6{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  margin-top: 190px;
  margin-left: 40px;
}
.card1{
  position: absolute;
  height: 260px;
  width: 240px;
  background-color: black;
  margin-top: 129px;
  margin-left: 330px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card1:hover{
  transition: 0.7s ease;
  transform: scale(1.3);
}
.img3{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h7{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  margin-top: 145px;
  margin-left: 60px;
}
.h8{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  margin-top: 190px;
  margin-left: 40px;
}
.card2{
  position: absolute;
  height: 260px;
  width: 240px;
  background-color: black;
  margin-top: 129px;
  margin-left: 665px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card2:hover{
  transition: 0.7s ease;
  transform: scale(1.3);
}
.img4{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h9{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  margin-top: 145px;
  margin-left: 60px;
}
.h10{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  margin-top: 190px;
  margin-left: 40px;
}
.card3{
  position: absolute;
  height: 260px;
  width: 240px;
  background-color: black;
  margin-top: 129px;
  margin-left: 1000px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card3:hover{
  transition: 0.7s ease;
  transform: scale(1.3);
}
.img5{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h11{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  margin-top: 145px;
  margin-left: 60px;
}
.h12{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  margin-top: 190px;
  margin-left: 40px;
}
.second h4{
  position:absolute;
  font-size: 35px;
  color: white;
  font-family:helvetica;
  font-weight: bolder;
  font-weight:50;
  margin-top: 440px;
}
.card4{
  position: absolute;
  height: 220px;
  width: 240px;
  background-color: black;
  margin-top: 529px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card4:hover{
  transition: 0.7s ease;
  transform: scale(1.5);
}
.img6{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  
}
.h13{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  margin-top: 165px;
  margin-left: 50px;
}
.card5{
  position: absolute;
  height: 220px;
  width: 240px;
  background-color: black;
  margin-top: 529px;
  margin-left: 330px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card5:hover{
  transition: 0.7s ease;
  transform: scale(1.5);
}
.img7{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h15{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  margin-top: 165px;
  margin-left: 35px;
}

.card6{
  position: absolute;
  height: 220px;
  width: 240px;
  background-color: black;
  margin-top: 529px;
  margin-left: 665px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card6:hover{
  transition: 0.7s ease;
  transform: scale(1.5);
}
.img8{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h17{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  margin-top: 165px;
  margin-left: 45px;
}

.card7{
  position: absolute;
  height: 220px;
  width: 240px;
  background-color: black;
  margin-top:529px;
  margin-left: 1000px;
  border: 5px solid white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.card7:hover{
  transition: 0.7s ease;
  transform: scale(1.5);
}

.img9{
  width: 240px;
  height: 140px;
  margin-top: -85px;
  margin-left: -50px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.h19{
  position: absolute;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  margin-top: 165px;
  margin-left: 30px;
}
.footer{
  position: absolute;
  background-color: white;
  bottom:-500px;
  width: 100%;
  height: 100px;
  left: 0px;
  right: 0px;
  bottom:-1300px;
  border-top: 3px white solid;
}
.footer p{
  color: white;
  margin-left: 50px;
  margin-top: 30px;
  padding-left: 250px;
}
.footer p span{
  margin-left: 190px;
  margin-top: 30px;
}

